:root {

  --color-button: rgba(0, 186, 252, 1);
  --text-color-black: #000;
  --text-color-white: #fff;
  --text-color-blue: #00BAFC;
  --background-color-dark: rgba(25, 25, 25, 1);
  --background-color-blue: rgba(0, 186, 252, 1);
  --background-color-blue-active: rgba(0, 186, 252, 1);
  --background-color-dark-active: rgba(25, 25, 25, 1);

}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans","Arial",sans-serif;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;

}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}




/*      HEADER     */

.header {
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 99;
  width: 100%;
  background-color: #fff;


}

.site-header {
  display: flex;
  align-items: center;

}

.pixer-logo {
  display: block;
  margin: 0;
  padding: 0;
  width: 58px;
  height: 20px;
margin-right: auto;
}

.pixer-logo:hover {

  opacity: 80%;
}

.pixer-logo:active {
  opacity: 80%;
}

.pixer-logo:focus {
  opacity: 10%;
}

.header-ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;

}
.header-li {

 transition: 0.2s box-shadow ease;
  background-color: white;

}

.header-ul-a {
  padding: 16px;
  text-decoration: none;
  color: var(--text-color-black);
  display: block;

}

.header-li:hover {
box-shadow: inset 0 -3px 0 0 black;
}
.header-li:active {
  background-color: var(--background-color-dark-active);

  opacity: 0.6;

}

.header-li:active .header-ul-a {
  color: #fff;
}

.header-li:focus {
  border-bottom: 3px solid #191919;
}

.drop-down-xizmatlar {
  position: relative;
  display: inline-block;

}

.drop-down-xizmatlar:hover .xizmatlar-ul {
  display: block;

}

.xizmatlar-ul {
  margin-top: 19px;
  padding-left: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 38px;
  width: 124px;
  left: -13px;
  padding: 8px 0;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;

}

.xizmatlar {
  padding: 8px 13px;
  z-index: 94;
  background-color: #fff;
  white-space: nowrap;
}

.xizmatlar-ul a {
  text-decoration: none;
  color: var(--text-color-black);
}

.xizmatlar:hover {

background-color: var(--background-color-blue);

}

.xizmatlar:hover a{
  color: var(--text-color-white);
}
.xizmatlar:active {
  background-color: var(--background-color-blue-active);
  opacity: 0.6;

}

.xizmatlar:active a {

  color: var(--text-color-white);
}

.button {
  padding: 8px 16px;
  background-color: var(--color-button);
  border: none;
  border-radius: 5px;
  color: var(--text-color-white);
  text-decoration: none;

}


.button:hover {
  opacity: 80%;
}


.button:active {
  opacity: 60%;
}

.button-phone {
  background-color: var(--color-button);
  border: 3px solid transparent;

}

.button-phone:hover {
  border: 3px solid #00BAFC;
  background-color: #fff;
  color: var(--background-color-blue);
}

.button-phone:active {
  background-color: var(--background-color-blue-active);
  opacity: 0.6;

}

.button-phone:focus {
  border: 3px solid #00BAFC;
  background-color: #fff;
  color: var(--background-color-blue);

}




/*        INTRO        */






.intro {

  margin: 160px 0 100px;

  display: flex;
  justify-content: space-between;

}

.left-side-intro {
  width: 458px;
  height: 258px;

}

.ls-intro-h1 {
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 16px;
  font-weight: 700;

}

.button-xizmatlar {
  display: inline-block;

}

.you-tube-content {
  width: 458px;
  height: 258px;
  border: none;
  border-radius: 5px;

}





/*        XIZMATLAR       */



.services-top {
  width: 719px;
  text-align: center;
  margin-top: 134px;
  margin-left: auto;
  margin-right: auto;
}

.services-h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;

}

.services-ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.services-ul li {
  width: 320px;
  height: 260px;

  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 48px;
  margin-top: 25px;

}

.services-li:hover{
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);

}


.services-li:active {

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.services-li a {
  text-decoration: none;
  color: var(--text-color-black);

}

.services-ul li:not(:first-child) {

  margin-left: 70px;
}

.services-li:nth-child(4) {
  margin-left: 0;
}

.website-li::before {
  content: "";
  background-image: url("../img/website-illustration.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 202.79px;
  height: 130px;
  align-items: center;
  margin-left: 58px;
  margin-top: 24px;
}

.bot-li::before {
  content: "";
  background-image: url("../img/bot-illustration.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 202.79px;
  height: 130px;
  align-items: center;
  margin-left: 58px;
  margin-top: 24px;
}

.website-li::before {
  content: "";
  background-image: url("../img/website-illustration.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 202.79px;
  height: 130px;
  align-items: center;
  margin-left: 58px;
  margin-top: 24px;
}

.smm-li::before {
  content: "";
  background-image: url("../img/smm-illustration.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 202.79px;
  height: 130px;
  align-items: center;
  margin-left: 58px;
  margin-top: 24px;
}

.design-li::before {
  content: "";
  background-image: url("../img/design-illustration.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 202.79px;
  height: 130px;
  align-items: center;
  margin-left: 58px;
  margin-top: 24px;
}

.crm-li::before {
  content: "";
  background-image: url("../img/crm-illustration.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 202.79px;
  height: 130px;
  align-items: center;
  margin-left: 58px;
  margin-top: 24px;
}

.services-li h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;

}

.services-li p {

  font-size: 16px;
  line-height: 24px;

  text-align: center;
  margin: 0;
  

}

.booking {
  display: flex;

  align-items: center;
  margin-top: 40px;
  margin-bottom: 56px;

}

.button-booking {
  margin-left: 401px;
}

.xizmatlar-html {
  color: var(--text-color-blue);
  margin-left: 20px;

}





/*       HOW WE WORK       */



.how-we-work {
  padding: 56px 134px;
}

.how-we-work-hero {
  width: 719px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.how-we-work-h2 {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 16px;
}
.how-we-work-p {
  margin: 0 0 16px;
}

.ol-li::before {
  content: "";
  display: block;
  background-image: url("../img/img-requirement.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 278px;
  margin-bottom: 16px;
  margin-right: 32px;
}

.ol-li {
  display: flex;
  align-items: center;
}

.ol-li:nth-child(even) {
  flex-direction: row-reverse;
}
.ol-box {
  width: 500px;
}

.box-2::before {
  background-image: url("../img/img-invitation.svg");
}
.box-3::before {
  background-image: url("../img/img-deadline.svg");
}
.box-4::before {
  background-image: url("../img/img-high-quality.svg");
}
.box-5::before {
  background-image: url("../img/img-support.svg");
}


/*     ORDER       */

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color-blue);
  padding: 56px 0;
  align-items: center;
}

.order-h2 {
  margin: 0;
  font-weight: bold;

  color: var(--text-color-white);
  margin-bottom: 16px;
  text-align: center;
}
.order-p {
  margin: 0;
  color: var(--text-color-white);

  margin-bottom: 16px;
  width: 720px;
  text-align: center;

}

.form {
  width: 348px;
  padding: 24px;
  background-color: var(--text-color-white);
  border-radius: 5px;
}

.input {
  padding: 16px;
  display: block;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #F3F3F3;
  margin-bottom: 16px;
}

.button-class {
  width: 167px;
  margin-left: auto;
  margin-right: auto;

}



/*      FOOTER      */





.footer {
  background-color: var(--background-color-dark);
  color: var(--text-color-white);

}

.footer-all-part {
  display: flex;
  margin-top: 56px;
  margin-bottom: 56px;

}
.footer-all-part h3 {
  margin-bottom: 16px;
  font-weight: 700;
}

.left-side {
  width: 320px;
  margin-right: 100px;
}

.site-pages {
  padding-left: 0;
  list-style: none;
  margin-right: 87px;
  width: 143px;

}
.site-pages a {
  text-decoration: none;
  color: var(--text-color-white);
}

.site-pages li:not(:last-child) {
  margin-bottom: 8px;

}

.social-networks a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color-white);
  margin-bottom: 8px;
}

.telegram::before {
  content: "";
  background-image: url("../img/telegram-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.facebook::before {
  content: "";
  background-image: url("../img/facebook-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 8px;
}
.instagram::before {
  content: "";
  background-image: url("../img/instagram-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.sitepages-li:hover a {
  color: var(--text-color-blue);

}

.sitepages-li:active a {
  color: var(--text-color-blue);
  opacity: 0.6;
}

.social-networks a:hover {
  color: var(--text-color-blue);

}

.social-networks a:active {
  color: var(--text-color-blue);
  opacity: 0.6;
}

.button-booking1 {
  width: 167px;
  margin-left: auto;
  margin-right: auto;

}



